:root {

    --text-color: black;
    --link-color: black;
    background-color: #FFF2EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    background-image: url('night.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}*/

a {
    color: var(--link-color);
    text-decoration: none;
}

header {

    height: 100vh;
    text-align: center;
    padding: 60px 20px;
    text-emphasis-color: #000000;
    background-color: #FFDCDC;
    margin-bottom: 20px;
}
img{
    margin-top: 30px;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

/* NAV BAR*/
nav {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 60px;
    justify-content: space-between;
    
}
nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}
nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}
nav a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
    color: #000000;
}

h6 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
    color: #000000;
}
h4 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.4rem;
    color: #000000;
    font-weight: lighter;
}


/*.container{
    padding: 30px 20px;
    max-width:1200px;
    margin: auto;
    background-color: #d3d2d2;
    border-radius: 10px;
}*/
.about {
    margin: 30px;
    background-color: #FFE8CD;
    padding: 30px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.projects {
    margin: 30px;
    transition: transform 0.3s ease;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.project {
    background-color: #FFE8CD;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
}

.contact {
    text-align: center;
    margin: 30px;
    background-color: #FFE8CD;
    padding: 5px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin-bottom: 30px;

}

footer {
    text-align: center;
    padding: 20px;
    background-color: #FFD6BA
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}